.recommendMore{
	.recommendMore-img{
		.recommendMore-img-context{
			width: 100%;
			height: 180px;
			margin-bottom: 12px;
		}
	}
	.recommendMore-all{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-left: 12px;
		padding-right: 12px;
		//width: 100%;
		.recommendMore-all-item{
			width: 49%;
			.recommendMore-all-item-img{
				.recommendMore-all-item-img-con{
					width: 100%;
					height: 150px;
					border-radius: 6px;
				}
			}
			.recommendMore-all-item-desc{
				font-size: 12px;
				max-width: 105px;
				margin-bottom: 12px;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
			}
		}
	}
}