.content{
	padding-left: 12px;
	padding-right: 12px;
	.content-search{
		.van-search{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.content-carousel{ 
		.content-carousel-img{
			height: 100%;
			width: 100%;
			border-radius: 6px;
		}
	}
	.content-funBtn{
		padding: 12px;
		display: flex;
		justify-content: space-between;
		.content-funBtn-main{
			#icon{
				display: flex;
				justify-content: center;
			}
			.context{
				display: flex;
				justify-content: center;
				font-size: 14px;
			}
		}
	}
	.content-recommendMusicList{
		display: flex;
		justify-content: space-between;
		margin-top: 12px;
		margin-bottom: 12px;
		.recommend{
			font-size: 18px;
			font-weight: bold;
		}
		.more{
			font-size: 12px;
		}
	}
	.content-recommendMusicList-context{
		.scroll-view_H{
			white-space: nowrap;
			.scroll-view_H_box{
				display: inline-block;
				margin-right: 6px;
				.scroll-view-item_H-img{
					width: 105px;
					height: 105px;
					border-radius: 6px;
				}
				.scroll-view-item_context{
					font-size: 12px;
					max-width: 105px;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space:nowrap;
				}
			}
			.scroll-view_H_box:last-child{
				margin-right: 0;
			}
		}
	}
	.content-niceVideoList-context{
		.scroll-view_H{
			white-space: nowrap;
			.scroll-view_H_box{
				display: inline-block;
				margin-right: 6px;
				.scroll-view-item_H-img{
					width: 210px;
					height: 105px;
					border-radius: 6px;
				}
				.scroll-view-item_context{
					font-size: 12px;
					max-width: 210PX;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space:nowrap;
				}
				.other-css{
					color: gray;
				}
			}
			.scroll-view_H_box:last-child{
				margin-right: 0;
			}
		}
	}
}